<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.2.3.2.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <div class="well">

        <div class="alert alert-danger" role="alert" data-bind="visible: !lastInputWasValid()">
            Вы ввели некорректные данные, пожалуйста исправьте поля, отмеченные красным цветом.
        </div>

        <form class="form-inline">
            <div class="form-group">
                <label for="leukocytes">Лейкоциты:</label>
                <input type="text" class="form-control" id="leukocytes" 
                       data-bind="value: leukocytes, valueUpdate: 'input', event: {keyup: validateAndChooseKLeukocytes}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="youngNeutrophils">Нейтрофилы юные:</label>
                <input type="text" class="form-control" id="youngNeutrophils" 
                       data-bind="value: youngNeutrophils, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="stabNeutrophils">Нейтрофилы палочкоядерные:</label>
                <input type="text" class="form-control" id="stabNeutrophils" 
                       data-bind="value: stabNeutrophils, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="segmentedNeutrophils">Нейтрофилы сегментоядерные:</label>
                <input type="text" class="form-control" id="segmentedNeutrophils" 
                       data-bind="value: segmentedNeutrophils, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="monocytes">Моноциты:</label>
                <input type="text" class="form-control" id="monocytes" 
                       data-bind="value: monocytes, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="lymphocytes">Лимфоциты:</label>
                <input type="text" class="form-control" id="lymphocytes" 
                       data-bind="value: lymphocytes, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="eosinophils">Эозинофилы:</label>
                <input type="text" class="form-control" id="eosinophils" 
                       data-bind="value: eosinophils, valueUpdate: 'input', event: {keyup: validate}"/>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="esr">СОЭ:</label>
                <input type="text" class="form-control" id="esr" 
                       data-bind="value: esr, valueUpdate: 'input', event: {keyup: validateAndChooseKEsr}"/>
            </div>
        </form>

        <span data-bind="text: kLeukocytes"></span>
        <span data-bind="text: kEsr"></span>

    </div>

    <script type="text/javascript" src="../public/js/script-loader.js"></script>
</body>
</html>