<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.2.3.2.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
    <!-- This is a *view* - HTML markup that defines the appearance of your UI -->
    <div class="well">

        <div class="alert alert-danger" role="alert" data-bind="visible: !lastInputWasValid()">
            Вы ввели некорректные данные, пожалуйста исправьте поля, отмеченные красным цветом.
        </div>

        <form class="form-inline" data-bind="css: {'has-error' : !lastInputWasValid()} ">
            <div class="form-group">
                <label for="leukocytes">Лейкоциты:</label>
                <input type="text" class="form-control" id="leukocytes" data-bind="textInput: leukocytes">
            </div>
        </form>
        <form class="form-inline" data-bind="css: {'has-error' : !lastInputWasValid()} ">
            <div class="form-group">
                <label for="youngNeutrophils">Нейтрофилы юные:</label>
                <input type="text" class="form-control" id="youngNeutrophils" data-bind="textInput: youngNeutrophils">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="stabNeutrophils">Нейтрофилы палочкоядерные:</label>
                <input type="text" class="form-control" id="stabNeutrophils" data-bind="textInput: stabNeutrophils">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="segmentedNeutrophils">Нейтрофилы сегментоядерные:</label>
                <input type="text" class="form-control" id="segmentedNeutrophils" data-bind="textInput: segmentedNeutrophils">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="monocytes">Моноциты:</label>
                <input type="text" class="form-control" id="monocytes" data-bind="textInput: monocytes">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="lymphocytes">Лимфоциты:</label>
                <input type="text" class="form-control" id="lymphocytes" data-bind="textInput: lymphocytes">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="eosinophils">Эозинофилы:</label>
                <input type="text" class="form-control" id="eosinophils" data-bind="textInput: eosinophils">
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="esr">СОЭ:</label>
                <input type="text" class="form-control" id="esr" data-bind="textInput: esr">
            </div>
        </form>

    </div>

    <script type="text/javascript" src="../public/js/script-loader.js"></script>
</body>
</html>